.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

.info-settting-upload-btn {
    border: 2px solid #ff64b8;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    background-color:white;
    color:#ff64b8;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
